/* здесь используйте глобальные переменные */
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
$tablet-width-only: 1365px;

$color-primary: #122947;
$background-primary: #f8f8f6;
//$color-secondary: #54c2b1;

$font-family: "mplus1p", "Arial", sans-serif;
$second-font-family: "Raleway", "Arial", sans-serif;

