.bestsellers {
  //padding: 0 0 0 50px;
}

.bestsellers__list {
  @include list;
  margin-left: 49px;
  margin-bottom: 39px;
}

.bestsellers__caption {
  @include text;
  width: 217px;
  text-align: center;
  font-family: $second-font-family;
  margin: 0 auto 12px;
}

.bestsellers__text {
  @include text;
  width: 219px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto 44px;
}

.bestsellers__slider-button {
  display: none;
}

.bestsellers__link {
  width: 150px;
  justify-self: center;
}


@media (min-width: $tablet-width) {
  .bestsellers {
    display: grid;
    grid-template-columns: 244px 500px;

    grid-template-rows: minmax(89px, auto) minmax(93px, auto) auto;
    row-gap: 16px;
    align-items: start;
    padding: 0 45px 120px;
    column-gap: 10px;

    max-width: 768px;
    margin: 0 auto;
    overflow: hidden; //ПРОВЕРЬ , МОЖЕТ НЕ НАДО
  }

  .bestsellers__caption {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: unset;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    align-self: end;
    width: unset;
    text-align: left;
  }

  .bestsellers__text {
    grid-column: 1/2;
    margin: 0;
    width: unset;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  .bestsellers__link {
    width: 155px;
    justify-self: unset;
  }

  .bestsellers__list {
    margin: 0;
    margin-bottom: 34px;
  }

  .bestsellers__slider-wrapper {
    grid-row: 1/-1;
  }

  .bestsellers__slider-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    display: block;

    &::before {
      content: "";
      display: block;
      width: 27px;
      height: 14px;
      mask-image: url("../../images/icons/stack.svg#promo-arrow");
      background-color: $color-primary;
      mask-repeat: no-repeat;
    }
  }

  .bestsellers__buttons-wrapper {
    width: 90px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    justify-self: right;
    margin-right: 71px;
  }

  .button-prev {
    &::before {
      transform: rotate(180deg);
    }
  }
}


@media (min-width: $desktop-width) {
  .bestsellers {
    padding-left: 97px;
    padding-right: 97px;
    grid-template-columns: 261px 1010px;
    max-width: 1366px;
    column-gap: 40px;
  }

  .bestsellers__caption {
    //text-align: left;
  }

  .bestsellers__text {
    //text-align: left;
    width: 246px;
  }

  .bestsellers__list {
    margin-bottom: 25px;
  }

  .bestsellers__buttons-wrapper {
    margin-right: 135px; /*подумать оптимальность*/
  }
}
