.main__promo {
  margin-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .main__promo {
    margin-bottom: 124px;
  }
}

@media (min-width: $desktop-width) {
  .main__promo {
    margin-bottom: 134px;
  }
}
