.toggle {
  width: 22px;
  height: 11px;
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  display: none;
}

@media (max-width: $tablet-width-only) {
  .toggle {
    display: inherit;
  }
}

@media (min-width: $tablet-width) {
  .toggle {
    width: 24px;
    height: 12px;

    &::before {
      width: 24px;
    }
  }
}
